# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.10
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-toml
-   repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
    -   id: poetry-check
-   repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
    -   id: pyproject-fmt
-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        exclude: >
          (?x)^(
              .*\.lock|.*\.csv|.*\.cff|.*\.ipynb|.*\.cppipe
          )$
        additional_dependencies:
        -   tomli
-   repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
    -   id: mdformat
        additional_dependencies:
        -   mdformat-myst
        -   mdformat-gfm
-   repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
    -   id: yamllint
        exclude: ".pre-commit-config.yaml"
-   repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
    -   id: black
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
    -   id: blacken-docs
-   repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
    -   id: bandit
        args: ["-c", "pyproject.toml"]
        additional_dependencies: ["bandit[toml]"]
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    -   id: isort
-   repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
    -   id: vulture
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
    -   id: mypy
        exclude: >
          (?x)(
              test_convert\.py$ |
              cytotable_mise_en_place_general_overview\.py$ |
              cytotable_from_the_cloud\.py$
          )
-   repo: https://github.com/citation-file-format/cffconvert
    rev: 5295f87c0e261da61a7b919fc754e3a77edd98a7
    hooks:
    -   id: validate-cff
-   repo: https://github.com/software-gardening/almanack
    rev: v0.1.10
    hooks:
    -   id: almanack-check
-   repo: https://github.com/PyCQA/pylint
    rev: v4.0.4
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        # note: we install additional dependencies for
        # pylint due to it's dynamic analysis capabilities
        # and the way pre-commit references virtual environments.
        additional_dependencies:
        -   "cloudpathlib[all]>=0.13.0"
        -   "pyarrow>=13.0.0"
        -   "pytest>=7.2.0"
        -   "moto[server,s3]>=4.0.0,<5.0.0"
        -   "duckdb>=0.8.0"
        -   "parsl>=2023.4.24"
        -   "pycytominer>=1.2.4"
        -   "anndata"
-   repo: https://gitlab.com/vojko.pribudic.foss/pre-commit-update
    rev: v0.6.0
    hooks:
    -   id: pre-commit-update
        args: ["--keep", "mdformat", "--keep", "pre-commit-update", "--keep", "cffconvert"]
