[tool.poetry]
name = "pycytominer-transform"
version = "0.0.1"
description = "Transform data for processing image-based profiling readouts with Pycytominer."
authors = ["Cytomining Community"]
license = "BSD-3-Clause license"
packages = [{include = "pycytominer_transform"}]

[tool.poetry.dependencies]
python = "^3.8"
pyarrow = "^11.0.0"
prefect = "^2.7.0"
cloudpathlib = {extras = ["all"], version = "^0.12.0"}
duckdb = "0.6.0"

[tool.poetry.dev-dependencies]
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
Sphinx = "^5.3.0"
myst-parser = "^0.18.0"
sphinxcontrib-mermaid = "^0.7.1"
pre-commit = "^2.20.0"
prefect-dask = "^0.2.2"
# specific bokeh version for dask
bokeh = "^2.4.2"
moto = {extras = ["s3", "server"], version = "^4.0.11"}
cffconvert = "^2.0.0"
cytominer-database = "^0.3.4"
pycytominer = { git = "https://github.com/cytomining/pycytominer.git", rev = "afac3ea" }


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.vulture]
min_confidence = 80
paths = ["pycytominer_transform"]
sort_by_size = true
verbose = true

[tool.isort]
profile = "black"

[tool.bandit]
exclude_dirs = ["tests"]
