---
# referenced from Tomás Farías Santana via
# https://tomasfarias.dev/posts/sphinx-docs-with-poetry-and-github-pages/
name: publish docs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Setup for poetry
        uses: ./.github/actions/setup-poetry
      - name: poetry deps
        run: poetry install
      - name: Build documentation
        run: |
          mkdir pages
          touch pages/.nojekyll
          cd docs
          poetry run sphinx-build -b html source _build
          cp -r _build/* ../pages/
      - name: Deploy documentation
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: pages
          folder: pages
