---
name: run tests

on:
  push:
    branches: [main, duckdb-compat]
  pull_request:
    branches: [main]
  schedule:
    # runs every Wednesday at 7 AM UTC
    - cron: "0 7 * * 3"

jobs:
  run_tests:
    strategy:
      matrix:
        # matrixed execution for parallel gh-action performance increases
        python_version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    env:
      OS: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Python setup
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
      # remove poetry.lock file for scheduled tests
      # to help simulate possible upstream issues
      - name: Remove poetry.lock for scheduled tests
        if: github.event_name == 'schedule'
        run: |
          rm poetry.lock
      - name: Setup for poetry
        uses: ./.github/actions/setup-poetry
      - name: Install environment
        run: poetry install --no-interaction --no-ansi
      - name: Run sphinx-docs build test
        run: poetry run sphinx-build docs/source doctest -W
      - name: Run pytest
        run: poetry run pytest
