---
name: run tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run_tests:
    strategy:
      matrix:
        # matrixed execution for parallel gh-action performance increases
        python_version: ["3.8", "3.9", "3.10"]
    runs-on: ubuntu-latest
    env:
      DAGGER_CACHE_FROM: type=gha,scope=pycytominer_transform
      DAGGER_CACHE_TO: type=gha,mode=max,scope=pycytominer_transform
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Dagger
        uses: dagger/dagger-for-github@v3
        with:
          cmds: |
            project update
            do test ${{ matrix.python_version }}
