---
name: run tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # runs every Wednesday at 7 AM UTC
    - cron: "0 7 * * 3"

jobs:
  tests:
    strategy:
      matrix:
        # matrixed execution for parallel gh-action performance increases
        python_version: ["3.10", "3.11", "3.12", "3.13"]
        os: [ubuntu-24.04, macos-14]
    runs-on: ${{ matrix.os }}
    env:
      OS: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Python setup
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python_version }}
      # remove poetry.lock file for scheduled tests
      # to help simulate possible upstream issues
      - name: Remove poetry.lock for scheduled tests
        # runs every Wednesday at 7 AM UTC
        if: github.event.schedule == '0 7 * * 3'
        run: |
          rm poetry.lock
      - name: Setup for poetry
        uses: ./.github/actions/setup-poetry
      - name: Install environment
        run: poetry install --no-interaction --no-ansi
      - name: Run sphinx-docs build test
        run: poetry run sphinx-build docs/source doctest -W
      - name: Run pytest
        run: poetry run pytest -m "not large_data_tests"
  # run large data tests as a separate job to help
  # conserve resources by detecting failure with
  # smaller tests first.
  run_large_data_tests:
    runs-on: ubuntu-24.04
    needs: tests
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Python setup
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Setup for poetry
        uses: ./.github/actions/setup-poetry
      - name: Install environment
        run: poetry install --no-interaction --no-ansi
      - name: Run pytest for large data tests
        run: poetry run pytest -m "large_data_tests"
